.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(25px, auto);
  grid-gap: 5px;
}
.main-container {
  display: flex;
  grid-row: 17/40;
  grid-column: 2/9;
  background: forestgreen;
  flex-wrap: wrap;
}