img{
   position: absolute;
}
.head-container{
   grid-row: 3/16;
   grid-column: 1/11;
   z-index: 10;
}
.headTitle{
   position: relative;
   color: white;
   margin-left: 40vw;
   margin-top: 18vh;
   font-size: 45px;
}
.headText{
   position:relative;
   color: white;
   margin-left: 30vw;
}